body {
    background: grey;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two { 
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 1;
  grid-row: 2;
}
.five {
  grid-column: 2;
  grid-row: 2;
}
.six {
  grid-column: 3;
  grid-row: 2;
}
